.modal-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem !important;
}

.customerInfo{
  color:darkgray; 
}

.customerInfo:hover{
  color:lightblue;
}

.creatableSelect{
  width: 50%;
}

.cardList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 18rem; 
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem !important;
}